/* Table of Content
==================================================
    #Font-Face
	#Reset & Basics
	#Typography
	#Links
	#Lists
	#Images
	#Forms
    #Tables
	#Other */


/* #Font-Face
================================================== */

/* #Reset & Basics 
================================================== */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

/* #Links
================================================== */
	a, 
    a:visited,
    a:hover, 
    a:focus {  
       text-decoration: none;     
    }

/* #Lists
================================================== */
	li {
        list-style-type: none;
    }    

/* #Forms
================================================== */
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		border: 1px solid #ccc;
		padding: 0 5px;
		outline: none;
		max-width: 100%;
		display: block;
		background: #fff;
        vertical-align: baseline; 
		*vertical-align: middle; 
	}
	
	textarea {
		min-height: 60px;
        resize: none;
        vertical-align: top;
		overflow: auto; 
	}
            
	input[type="checkbox"],
    input[type="radio"] {
		display: inline-block;
		margin-right:5px; 
	}
        
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {	
	  text-decoration: none;
      text-transform: none;
	  cursor: pointer;
      border:0 none;
	  line-height: normal;
      -webkit-appearance: none; 
      cursor: pointer; 
      *overflow: visible;   }
      
      
	/* Fix for odd Mozilla border & padding issues */
	button::-moz-focus-inner,
	input::-moz-focus-inner {
        border: 0;
        padding: 0;
	}      	

/* #Other
================================================== */
	:focus   { 
        outline: none; 
    }
    